.task {
    background-color: #e7f7ee;
    padding: 7px 21px;
    width: 70%;
    margin-bottom: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.task-list{
    font-family: system-ui;
    font-size: 18px;
}

.timeline {
    font-style: italic;
}

.close-task{
    float: right;
    color: red;
    cursor: pointer;
}

.task.reminder {
    border-left: 10px solid green;
}

.task-right{
    float: right;
    display: flex;
}

.dropdown{
    width: 93px;
    font-family: monospace !important;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    border-radius: 23px;
    background-color: white;
    border: none;
    width: 8rem;
    margin-top: 20%;
}

.critical {
    background-color: #f53721ab !important;
}

.high {
    background-color: #fa807278 !important;
}

.medium {
    background-color: #ff980078 !important;
}

.low {
    background-color: #ffeb3ba1 !important;
}

.option{
    background-color: white;
}

.add-to-calender {
    margin-left: 1rem;
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
    color: teal;
}