.logout {
    height: 40px;
    /* width: 100px; */
    border-radius: 10px;
    border: none;
    font-family: system-ui;
    background-color: #edf5e1;
    color: #05386b;
    font-size: 17px;
    /* margin-top: 7px; */
    /* margin: 0px; */
    border-radius: 6px;
    cursor: pointer;
}