.button {
    background-color: #edf5e1;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-family: system-ui;
    font-size: 17px;
    color: #05386b;
    cursor: pointer;
}

.main-button{
    margin-top: 1rem;
    margin-left: 8rem;
}